.bordered{
    border: solid 1px darkblue;
}

#title>p{
    background-color: darkslateblue;
    color: white;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}

#title{
    text-align: center;
}

.margin-top-bottom{
    margin-bottom: 10px;
    margin-top: 10px;
}

.padded {
    padding: 10px 10px 10px 10px;
}