{% extends 'api_template/main.html' %}

{% block content %}
<form id="input-form">
    <input type="date" name="api_date">
    <input type="text" name="api_text">
    <input type="button" id="send-request-insert" value="Загрузить">
</form>
{% endblock %}