{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Базовое Api</title>
    <script src="{% static "js/jquery.js" %}" type="application/javascript"></script>
    <script src="{% static "js/main.js" %}" type="application/javascript"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/960_12_col.css" %}" >
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/main.css" %}">
</head>
<body>

<div class="container_12 bordered">
    <div id="title" class="grid_12">
        <p> Демонстрационное приложение</p>
    </div>
    <div class="clear"></div>
    <div class="grid_4 margin-top-bottom">
        <a href="/">Загрузить текст</a>
    </div>
    <div class="grid_4 margin-top-bottom">
        <a href="/result">Результаты</a>
    </div>
    <div class="clear"></div>
    <div class="grid_12 margin-top-bottom">
        {%  block content %}

        {% endblock %}
    </div>
    <div class="grid_8 margin-top-bottom bordered padded" id="response">

    </div>

</div>
<div class="clear"></div>

</body>
</html>